.avatar {
  border-radius: 50%;
  display: inline-block;
}
.img-lg,
.text-lg {
  width: 8rem;
  height: 8rem;
}
.img-md,
.text-md {
  width: 6.5rem;
  height: 6.5rem;
}
.img-sm,
.text-sm {
  width: 5rem;
  height: 5rem;
}
.img-xs,
.text-xs {
  width: 3rem;
  height: 3rem;
}

.border-round {
  border-radius: 50%;
}
.border-square {
  border-radius: 10px;
}
.img-border {
  border: 3px solid var(--primary-color);
}
.text-border2 {
  border: 3px solid var(--red);
}
