.btn {
  border-radius: 10px;
  cursor: pointer;
  border: none;
}
.btn-primary {
  color: var(--text-light);
  background-color: var(--primary-color);
  font-size: 1.2rem;
  padding: 0.5rem 1rem;
}
.btn-secondary {
  padding: 0.5rem 1rem;
  color: var(--text-light);
}

.btn-outline {
  border: 1px solid var(--primary-color);
  background: transparent;
  color: var(--primary-color);
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
}
.btn-outline:hover {
  background: var(--primary-color);
  color: var(--text-light);
  transform: scale(1.03, 1.03);
}
.btn-float {
  background: transparent;
  font-size: 1.7rem;
  color: var(--primary-color);
  z-index: 4;
}
.btn-float-round {
  background-color: var(--primary-color);
  border-radius: 50%;
  color: var(--text-light);
  z-index: 4;
  border: none;
  cursor: pointer;
}
.btn-link {
  background-color: transparent;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}
.btn-icon {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.btn-transparent {
  background-color: transparent;
}
.btn-link:hover {
  color: var(--primary-color);
}

.float {
  z-index: 4;
}
