.grid-2-cols-layout {
  width: inherit;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: "left right";
}
.left-pane {
  grid-area: left;
}
.right-pane {
  grid-area: right;
}
.grid-3-cols-layout {
  display: grid;
  grid-template-columns: repeat(3, fr);
  grid-template-areas: "left middle right";
  grid-gap: 25px;
}
.left-side {
  grid-area: left;
}
.right-side {
  grid-area: right;
}
.middle {
  grid-area: middle;
}
@media only screen and (max-width: 768px) {
  .grid-2-cols-layout {
    grid-template-columns: 1fr;
    grid-template-areas: "left" "right";
  }
  .grid-3-cols-layout {
    grid-template-columns: 1fr;
    grid-template-areas: "left" "middle" "right";
  }
  .grid-wrapper {
    width: 18.75rem;
  }
}
