.block {
  display: block;
}
.inline-block {
  display: inline-block;
}
.margin-sm {
  margin: 0.5rem 1.5rem;
}
.margin-md {
  margin: 1rem 3rem;
}
.margin-lg {
  margin: 1.5rem 5rem;
}
.mb-lg {
  margin-bottom: 1rem;
}
.ml-auto {
  margin-left: auto;
}
.mr-auto {
  margin-right: auto;
}
.padding-xs {
  padding: 0.2rem 1rem;
}
.padding-sm {
  padding: 0.5rem 1.5rem;
}
.evenly-padding-sm {
  padding: 1rem;
}
.evenly-padding-md {
  padding: 1.5rem;
}
.padding-y {
  padding: 2rem 0;
}
.margin-none {
  margin: 0rem;
}
.centered {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.vertical-direction {
  flex-direction: column;
}

.text-primary {
  color: var(--primary-color);
}
.text-secondary {
  color: var(--secondary-text-color);
}
.light-text {
  color: var(--text-light);
}
.text-danger {
  color: var(--red);
}
.text-success {
  color: var(--green);
}
.bg-red {
  background-color: var(--red);
}
.bg-green {
  background-color: var(--green);
}
.bg-primary {
  background-color: var(--primary-color);
}
.bg-secondary {
  background-color: var(--secondary-color);
}
.style-list-none {
  list-style: none;
}
.inline-block {
  display: inline-block;
}
.pointer {
  cursor: pointer;
}
.shadow-box {
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
    rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
    rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}
.shadow-text {
  text-shadow: 3px 1px 1px rgba(0, 0, 7, 0.3);
}
.iframe-wrapper {
  text-align: center;
}
.width-md {
  width: 30rem;
}
.decor-none {
  text-decoration: none;
}
.vibrant-link {
  color: var(--vibrant);
  text-decoration: none;
}
.border-bottom {
  border-bottom: 2px solid var(--primary-color);
}
.center-text {
  text-align: center;
}
.left-align {
  text-align: left;
}
.right-text {
  text-align: right;
}
.link:hover {
  color: var(--primary-color);
}
.reset {
  cursor: pointer;
}
