.emptyCont {
	height: calc(100vh - 3.5rem - 3.5rem);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.emptyDesc {
	text-align: center;
	font-size: large;
	color: #333;
	margin: 0 0.2em;
}

.emptyBtn {
	width: 8rem;
	height: 2.2rem;
	background-color: var(--logo-cl);
	color: var(--primary-cl);
	margin-top: 1em;
	border-radius: 0.5em;
	font-weight: 600;
	display: flex;
	justify-content: center;
	align-items: center;
}

.cards {
	margin: 1em auto;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr));
	gap: 1em;
}

@media screen and (min-width: 768px) {
  .cards {
    margin: 1rem;
  }
}
