@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
@import "tailwindcss";

:root {
  --primary: #ebf2fa;
  --secondary: #cae9ff;
  --logo: #3a86ff;
  --font-josefin: 'Josefin Sans', sans-serif;
  --font-cinzel: 'Cinzel', serif;
}

@theme {
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-logo: var(--logo);
  --font-josefin: var(--font-josefin);
  --font-cinzel: var(--font-cinzel);
}

@layer base {
  body {
    @apply bg-primary font-josefin;
  }
}
