.todo-container {
  display:flex;
  flex-direction: column;
  width: 20rem;
  min-height: 15rem;
  background-color: var(--color-primary);
  position: fixed;
  bottom: 4rem;
  right: 10px;
  color: var(--dark);
  border-radius: 2rem;
}
.template-wrapper{
  height: 15rem;
}
.todo-head{
  padding:1rem 0 0 1.5rem
}

.todo-task-wrapper{
 overflow-y: scroll;
 margin:3rem 0 4rem 0;
 max-height:20rem
}
.todo-task-wrapper > ul >li > div>label {
  margin-left:1rem;
}
.close-btn-wrapper {
  position: absolute;
  top: 1rem;
  right: 1.5rem;
  cursor: pointer;
  height:10%;
}
.todo-input-wrapper {
  position: absolute;
  bottom: 3rem;
  left: 1rem;
  height:2%;
}
.todo-input-wrapper > input:focus {
  border-bottom: 2px solid var(--default-color);
}
.todo_input {
  padding: 0 0.5rem;
  background: transparent;
  border-left: none;
  border-right: none;
  border-top: none;
  border-bottom: 1.5px solid var(--default-color);
  font-size: 1.3rem;
  color: var(--default-color);
}
.todo_input::placeholder{
  color:var(--default-color)
}

.todo-lists{
  display: flex;
  justify-content: space-between;
}
::-webkit-scrollbar {
  width: 10px;
}


input[type=checkbox]:checked {
  accent-color:var(--default-color);
}


@media only screen and (max-width:768px){
  .todo-container{
    background-color: var(--color-primary-dark);
  }
}
