@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;700;800;900&family=Exo+2:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
	--primary-cl: #ebf2fa;
	--secondary-cl: #cae9ff;
	--logo-cl: #6ac305;
}

*,
*::after,
*::before {
	font-family: "Cinzel", serif;
	font-family: "Exo 2", sans-serif;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	min-height: 100vh;
	background-color: var(--primary-cl);
}

a {
	text-decoration: none;
}

a.active {
	border: 1px solid var(--logo-cl);
}

.hostLayout {
	padding: 3.5em 0.5em;
}

.ql-editor {
	min-height: 8rem;
}

@media screen and (min-width: 768px) {
	a.active {
		border: none;
		background-color: var(--logo-cl);
		color: var(--primary-cl);
	}

	.hostLayout {
		padding: 4.5em 0.5em 0 0.5em;
	}

	.hostLayout {
		padding-left: 12em;
	}
}
