@import url("/src/styles/root.css");
@import url("/src/styles/header.css");
@import url("/src/styles/aside.css");
@import url("/src/styles/main-section.css");
@import url("/src/styles/footer.css");

.avatar {
	background: var(--secondary-color);
	color: var(--logo-color);
	width: 2.5rem;
	height: 2.5rem;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	background-size: cover;
	border: 0.15em solid var(--logo-color);
	font-weight: bold;
}

.sm-sz {
	width: 3.5rem;
	height: 3.5rem;
}

.md-sz {
	width: 4.5rem;
	height: 4.5rem;
}

.lg-sz {
	width: 5.5rem;
	height: 5.5rem;
}
