@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200");
@import url("/src/styles/root.css");
@import url("/src/styles/header.css");
@import url("/src/styles/aside.css");
@import url("/src/styles/main-section.css");
@import url("/src/styles/footer.css");

button.contained,
button.outline,
button.icon {
	outline: none;
	padding: 0.4em 2em;
	font-weight: 400;
	border: 2px solid;
	border-radius: 0.5em;
	cursor: pointer;
	box-shadow: 1px 1px 4px 1px #33333340, -1px -1px 4px 1px #33333340;
}

button.contained:active,
button.outline:active,
button.icon:active {
	box-shadow: none;
}

button.contained.primary {
	background: var(--logo-color);
	border-color: var(--logo-color);
	color: var(--primary-color);
}

button.contained.secondary {
	background: var(--secondary-color);
	color: var(--logo-color);
	border-color: var(--secondary-color);
}

button.outline.primary {
	color: var(--logo-color);
}

button.outline.secondary {
	color: #166fe4;
}

button.icon {
	display: flex;
	justify-content: center;
	align-items: center;
}

button.icon > span {
	font-size: large;
	font-weight: 500;
}

button.icon.primary {
	background: #fc2121;
	border-color: #fc2121;
	color: var(--primary-color);
}

button.icon.secondary {
	padding: 0;
	border: none;
	box-shadow: none;
	background: transparent;
	color: var(--logo-color);
}

button.icon.secondary > span {
	font-size: xx-large;
}

button.link {
	border: none;
	outline: none;
	background: transparent;
	font-size: large;
}

button.link.primary {
	color: var(--logo-color);
	position: relative;
}

button.link.primary > .bdb {
	display: inline-block;
	width: 0;
	height: 2px;
	background: var(--logo-color);
	position: absolute;
	left: 0;
	bottom: -0.2em;
	transition: all 0.5s ease-in-out;
}

button.link.primary:hover > .bdb {
	width: 100%;
}

button.link.secondary {
	color: rgb(153, 0, 255);
	border-bottom: 2px solid;
}
