@import "tailwindcss";

[data-theme="light"] {
	--bg-color: #ffffff;
	--text-color: #333333;
	--heading-color: #444444;
}

[data-theme="dark"] {
	--bg-color: #333333;
	--text-color: #ffffff;
	--heading-color: #dddddd;
}

body {
	background: var(--bg-color);
	color: var(--text-color);
}

h1 {
	color: var(--text-color);
}
