@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200");
@import url("/src/styles/root.css");
@import url("/src/styles/header.css");
@import url("/src/styles/aside.css");
@import url("/src/styles/main-section.css");
@import url("/src/styles/footer.css");

.design {
	background-color: #f1f2f6;
}

.card {
  cursor: pointer;
	background-color: white;
	width: 20rem;
	border-radius: 0.5em;
}

.card-img {
	display: block;
	width: 12rem;
	height: 12rem;
	margin: auto;
}

.card-info {
	background-color: #9e9a993b;
	border-radius: 0 0 0.4em 0.4em;
	padding: 0.75em;
	display: flex;
	justify-content: space-between;
}

.card-info > .left > * {
	margin-bottom: 0.4em;
}

.card-heading {
	display: inline-block;
	color: #7f00e1;
	font-size: large;
	font-weight: bold;
}

.stars {
	color: darkslategray;
	font-size: small;
}

.price {
	font-size: larger;
	color: #9e1fff;
}

.heart-icon {
	font-size: 1.5rem;
	margin-left: auto;
  color: gray;
  cursor: pointer;
}

.card.horizontal {
	padding: 1em;
}

.card.horizontal > .top {
	flex: 1;
	display: flex;
	justify-content: space-between;
}

.top > img {
	width: 6rem;
	height: 6rem;
}

.card.horizontal > .top > .info {
	max-width: 60%;
}

.horizontal > .top > .info > h2 {
	color: #7f00e1;
}

.horizontal > .bottom {
	flex: 4;
	display: flex;
	justify-content: space-between;
	margin-top: 1em;
}

.card.horizontal > .bottom > button {
  color: #9e1fff;
  background: #ffffff;
  padding: 0.4em 2em;
  border: 2px solid #9e1fff;
  border-radius: 0.625em;
  font-weight: bold;
  cursor: pointer;
}

.card.horizontal > .bottom > button:hover {
  background: #9e1fff;
  color: #ffffff;
}
