@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");
@import "tailwindcss";

@theme {
	--color-primary: #ebf2fa;
	--color-secondary: #cae9ff;
	--color-logo: #6ac305;
	--font-primary: "Josefin Sans", sans-serif;
	--font-secondary: "Cinzel", serif;
}

@layer base {
	*,
	*::before,
	*::after {
		@apply text-gray-900 font-primary;
	}

	body {
		@apply bg-primary;
	}
}

@layer components {
	.wrapper {
		@apply w-[95%] md:w-[90%] mx-auto;
	}

	.link {
		@apply fill-logo text-logo;
	}

	.link.active,
	.link:hover {
		@apply border-2 border-logo rounded-full md:bg-logo md:fill-primary md:text-primary;
	}
}

@layer utilities {
	.scrollbar-node::-webkit-scrollbar {
		display: none;
	}

	.scrollbar-none {
		-ms-overflow-style: none;
		scrollbar-width: none;
	}
}
