<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image || BeadsUI</title>
    <link rel="stylesheet" href="../docs.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
</head>
<body class="body-wrapper">
    <header class="shadow-box navbar">
        <div class="first-col">
            <h1 class="hero-font  margin-md title text-primary shadow-text">Beads
                 <span class="text-primary margin-none">UI</span></h1>
        </div>
    
        <div class="last-col ml-auto padding-xs centered">
            <ul class="style-list-none">
                <li class="inline-block "><a class="text-primary" href="https://github.com/developers-codz">
                    <i class='fab fa-github fa-lg'></i>
                </a>
                   </li>
                <li class="inline-block "><a class="text-primary" href="https://www.linkedin.com/in/kajal-kumari-52bab41aa"><i class='fab fa-linkedin fa-lg'></i></a></li>
                <li class="inline-block "><a class="text-primary" href="https://twitter.com/Kajal3310"><i class='fab fa-twitter fa-lg'></i></a></li>
            </ul>
        </div>
    </header>
    <aside>
        <h1 class="padding-xs">Getting Started</h1>
        <ul class="mb-lg padding-xs style-list-none">
            <li class="padding-xs font3"><a class="decor-none aside-link text-primary" href="../docs.html">Installation</a></li>
        </ul>
        <h1 class="padding-xs">Documentation</h1>
        <ul class="mb-lg padding-xs style-list-none">
        <li class="mb-lg padding-xs font3"><a class="decor-none aside-link text-primary"  href="avatar.html">Avatar</a> </li>
        <li class="mb-lg padding-xs font3"><a class="decor-none aside-link text-primary" href="alert.html">Alert</a></li>
        <li class="mb-lg padding-xs font3"><a class="decor-none aside-link text-primary" href="badge.html">Badge</a></li>
        <li class="mb-lg padding-xs font3"><a class="decor-none aside-link text-primary" href="button.html">Button</a></li>
        <li class="mb-lg padding-xs font3"><a class="decor-none aside-link text-primary" href="card.html">Card</a></li>
        <li class="mb-lg padding-xs font3"><a class="decor-none aside-link text-primary active" href="image.html">Image</a></li>
        <li class="mb-lg padding-xs font3"><a class="decor-none aside-link text-primary" href="input.html">Input</a></li>
        <li class="mb-lg padding-xs font3 "><a class="decor-none aside-link text-primary" href="textutil.html">Text Utils</a></li>
        <li class="mb-lg padding-xs font3 "><a class="decor-none aside-link text-primary" href="list.html">List</a></li>
        <li class="mb-lg padding-xs font3 "><a class="decor-none aside-link text-primary" href="navigation.html">Navigation</a></li>
        <li class="mb-lg padding-xs font3 "><a class="decor-none aside-link text-primary" href="modal.html">Modal</a></li>
        <li class="mb-lg padding-xs font3 "><a class="decor-none aside-link text-primary" href="rating.html">Rating</a></li>
        <li class="mb-lg padding-xs font3 "><a class="decor-none aside-link text-primary" href="toast.html">Toast</a></li>
        <li class="mb-lg padding-xs font3 "><a class="decor-none aside-link text-primary" href="grid.html">Grid</a></li>
    </ul></aside>
    <main>
        <div class="content-wrapper">
           <div class="section">
               <h2 class="mb-lg">Image</h2>
               <p class="mb-lg font3 text-secondary">Image is the main focus of any website and it should be responsive.It helps you to attract attention of the user and also to guide them and getting them engaged in your website.  
           <div class="section">
            <h2 class="mb-lg">Round Image</h2>
            <div class="centered shadow-box margin-md padding-y">
           <img src="../../assets/img1.jpg" loading="lazy" alt="image 1" class="img border-round margin-md">
           <img src="../../assets/img2.jpg" loading="lazy" alt="image 2" class="img border-round margin-md">
            </div>

            <div class="iframe-wrapper">
               <iframe
                src="https://carbon.now.sh/embed?bg=rgba%28155%2C155%2C155%2C1%29&t=night-owl&wt=sharp&l=auto&width=680&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=0px&ph=0px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%2520%253Cimg%2520src%253D%2522..%252F..%252Fassets%252Fimg1.jpg%2522%2520alt%253D%2522image%25201%2522%2520class%253D%2522img%2520border-round%2522%2520loading%253D%2522lazy%2522%253E%250A%2520%253Cimg%2520src%253D%2522..%252F..%252Fassets%252Fimg2.jpg%2522%2520alt%253D%2522image%25201%2522%2520class%253D%2522img%2520border-round%2522%2520loading%253D%2522lazy%2522%253E%250A%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%250A%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520"
                sandbox="allow-scripts allow-same-origin">
                </iframe>
            </div>
           </div>
        <div class="section">
            <h2 class="mb-lg">Square Image</h2>
            <div class="centered shadow-box margin-md padding-y">
                <img src="../../assets/img3.jpg" loading="lazy" alt="image 3" class="img border-square margin-md">
                <img src="../../assets/img4.jpg" loading="lazy" alt="image 4" class="img border-square margin-md">
            </div>
            <div class="iframe-wrapper">
                <iframe
                src="https://carbon.now.sh/embed?bg=rgba%28155%2C155%2C155%2C1%29&t=night-owl&wt=sharp&l=auto&width=680&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=0px&ph=0px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%2520%253Cimg%2520src%253D%2522..%252F..%252Fassets%252Fimg3.jpg%2522%2520alt%253D%2522image%25203%2522%2520class%253D%2522img%2520border-square%2522%2520loading%253D%2522lazy%2522%253E%250A%2520%253Cimg%2520src%253D%2522..%252F..%252Fassets%252Fimg4.jpg%2522%2520alt%253D%2522image%25204%2522%2520class%253D%2522img%2520border-square%2522%2520loading%253D%2522lazy%2522%253E%250A%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%250A%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520"
                sandbox="allow-scripts allow-same-origin">
                </iframe>
            </div>
        </div>
        <div class="section">
            <h2 class="mb-lg">Responsive Image</h2>
            <div class="centered shadow-box margin-md padding-y">
            <img src="../../assets/item4.jpg" alt="img" class="img-responsive margin-md" loading="lazy">
            </div>
            <div class="iframe-wrapper">
              <iframe
                src="https://carbon.now.sh/embed?bg=rgba%28155%2C155%2C155%2C1%29&t=night-owl&wt=sharp&l=auto&width=680&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=0px&ph=0px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%2520%2520%2520%253Cimg%2520src%253D%2522..%252F..%252Fassets%252Fimg4.jpg%2522%2520alt%253D%2522img%2522%2520class%253D%2522img-responsive%2522%2520loading%253D%2522lazy%2522%253E%250A"
                sandbox="allow-scripts allow-same-origin">
                </iframe>
            </div>
        </div>
         
       
    </div>
    </main>
    
    <footer class="centered vertical-direction bg-secondary">
        <button class="prev-page-btn btn-transparent btn rm-border font2 float"><a class="decor-none text-primary" href="card.html"><i class="fa fa-arrow-left "></i> Card </a></button>
        <button class="next-page-btn btn-transparent btn rm-border font2 float"><a class="decor-none text-primary" href="input.html">Input <i class="fa fa-arrow-right "></i> </a></button>
       

        <h2 class=" mb-lg ">Build with <span class="text-primary">&lt;/&gt;</span> by Kajal Kumari</h2>
        <ul class="style-list-none mb-lg ">
            <li class="inline-block padding-xs"><a class="light-text" href="httlps://github.com/developers-codz">
                <i class='fab fa-github fa-lg'></i>
            </a>
               </li>
            <li class="inline-block padding-xs"><a class="light-text" href="https://www.linkedin.com/in/kajal-kumari-52bab41aa"><i class='fab fa-linkedin fa-lg'></i></a></li>
            <li class="inline-block padding-xs"><a class="light-text" href="https://twitter.com/Kajal3310"><i class='fab fa-twitter fa-lg'></i></a></li>
        </ul>
        <small>© 2022 beadsUI <a class="decor-none light-text" href="https://github.com/developers-codz">Developers-codz</a> </small>
        
    </footer>
    <script src="docs.js"></script>
    <script src="../../css/component.js"></script>
</body>
</html>