<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TextUtils || BeadsUI</title>
    <link rel="stylesheet" href="../docs.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
</head>
<body class="body-wrapper">
    <header class="shadow-box navbar">
        <div class="first-col">
            <h1 class="hero-font  margin-md title text-primary shadow-text">Beads
                 <span class="text-primary margin-none">UI</span></h1>
        </div>
    
        <div class="last-col ml-auto padding-xs centered">
            <ul class="style-list-none">
                <li class="inline-block "><a class="text-primary" href="https://github.com/developers-codz">
                    <i class='fab fa-github fa-lg'></i>
                </a>
                   </li>
                <li class="inline-block "><a class="text-primary" href="https://www.linkedin.com/in/kajal-kumari-52bab41aa"><i class='fab fa-linkedin fa-lg'></i></a></li>
                <li class="inline-block "><a class="text-primary" href="https://twitter.com/Kajal3310"><i class='fab fa-twitter fa-lg'></i></a></li>
            </ul>
        </div>
    </header>
    <aside>
        <h1 class="padding-xs">Getting Started</h1>
        <ul class="mb-lg padding-xs style-list-none">
            <li class="padding-xs font3"><a class="decor-none aside-link text-primary" href="../docs.html">Installation</a></li>
        </ul>
        <h1 class="padding-xs">Documentation</h1>
        <ul class="mb-lg padding-xs style-list-none">
        <li class="mb-lg padding-xs font3"><a class="decor-none aside-link text-primary"  href="avatar.html">Avatar</a> </li>
        <li class="mb-lg padding-xs font3"><a class="decor-none aside-link text-primary" href="alert.html">Alert</a></li>
        <li class="mb-lg padding-xs font3"><a class="decor-none aside-link text-primary" href="badge.html">Badge</a></li>
        <li class="mb-lg padding-xs font3"><a class="decor-none aside-link text-primary" href="button.html">Button</a></li>
        <li class="mb-lg padding-xs font3"><a class="decor-none aside-link text-primary" href="card.html">Card</a></li>
        <li class="mb-lg padding-xs font3"><a class="decor-none aside-link text-primary" href="image.html">Image</a></li>
        <li class="mb-lg padding-xs font3"><a class="decor-none aside-link text-primary" href="input.html">Input</a></li>
        <li class="mb-lg padding-xs font3 "><a class="decor-none aside-link text-primary active" href="textutil.html">Text Utils</a></li>
        <li class="mb-lg padding-xs font3 "><a class="decor-none aside-link text-primary" href="list.html">List</a></li>
        <li class="mb-lg padding-xs font3 "><a class="decor-none aside-link text-primary" href="navigation.html">Navigation</a></li>
        <li class="mb-lg padding-xs font3 "><a class="decor-none aside-link text-primary" href="modal.html">Modal</a></li>
        <li class="mb-lg padding-xs font3 "><a class="decor-none aside-link text-primary" href="rating.html">Rating</a></li>
        <li class="mb-lg padding-xs font3 "><a class="decor-none aside-link text-primary" href="toast.html">Toast</a></li>
        <li class="mb-lg padding-xs font3 "><a class="decor-none aside-link text-primary" href="grid.html">Grid</a></li>
    </ul></aside>
    <main>
        <div class="content-wrapper">
           <div class="section">
               <h2 class="mb-lg">Text Utils</h2>
               <p class="mb-lg font3 text-secondary">Text utils are used to show text on any website.It can be of any sizes or of any color.</p>
           <div class="section">
            <h2 class="mb-lg">Text of different sizes</h2>
            <p class="mb-lg font3 text-secondary">BeadsUI has font from 1 to 6 in decreasing font size order.</p>
            <div class="centered shadow-box margin-md padding-y">
                <div class="block">
                    <p class="font1">Extra Large Text</p>
                    <p class="font2">Large Text</p>
                    <p class="font3">Medium Text</p>
                    <p class="font4">Default Text</p>
                    <p class="font5">Small Text</p>
                    <p class="font6">Extra small Text</p>
                </div>
            </div>

            <div class="iframe-wrapper">
                <iframe
  src="https://carbon.now.sh/embed?bg=rgba%28155%2C155%2C155%2C1%29&t=night-owl&wt=sharp&l=auto&width=680&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=0px&ph=0px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%253Cdiv%2520class%253D%2522block%2522%253E%250A%2520%2520%2520%2520%253Cp%2520class%253D%2522font1%2522%253EExtra%2520Large%2520Text%253C%252Fp%253E%250A%2520%2520%2520%2520%253Cp%2520class%253D%2522font2%2522%253ELarge%2520Text%253C%252Fp%253E%250A%2520%2520%2520%2520%253Cp%2520class%253D%2522font3%2522%253EMedium%2520Text%253C%252Fp%253E%250A%2520%2520%2520%2520%253Cp%2520class%253D%2522font4%2522%253EDefault%2520Text%253C%252Fp%253E%250A%2520%2520%2520%2520%253Cp%2520class%253D%2522font5%2522%253ESmall%2520Text%253C%252Fp%253E%250A%2520%2520%2520%2520%253Cp%2520class%253D%2522font6%2522%253EExtra%2520small%2520Text%253C%252Fp%253E%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%250A%253C%252Fdiv%253E"
  sandbox="allow-scripts allow-same-origin">
</iframe>
            </div>
           </div>
        <div class="section">
            <h2 class="mb-lg">Colored Text</h2>
            <div class="centered shadow-box margin-md padding-y">
              <p class="font2 text-primary margin-sm">primary Text</p>
              <p class="font2 text-secondary margin-sm">secondary Text</p>
              <p class="font2 text-danger margin-sm">Danger Text</p>
              <p class="font2 text-success margin-sm">success Text</p>
              
            </div>
            <div class="iframe-wrapper">
                <iframe
                src="https://carbon.now.sh/embed?bg=rgba%28155%2C155%2C155%2C1%29&t=night-owl&wt=sharp&l=auto&width=680&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=0px&ph=0px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%2520%2520%253Cp%2520class%253D%2522font2%2520text-danger%2522%253EDanger%2520Text%253C%252Fp%253E%250A%2520%2520%253Cp%2520class%253D%2522font2%2520text-success%2522%253Esuccess%2520Text%253C%252Fp%253E%250A%2520%2520%253Cp%2520class%253D%2522font2%2520text-primary%2522%253Eprimary%2520Text%253C%252Fp%253E%250A%2520%2520%253Cp%2520class%253D%2522font2%2520text-secondary%2522%253Esecondary%2520Text%253C%252Fp%253E%250A%2520%2520"
                sandbox="allow-scripts allow-same-origin">
              </iframe>
            </div>
            
        </div>
        <div class="section">
            <h2 class="mb-lg">Aligned Text</h2>
            <div class="block shadow-box margin-md padding-y">
                    <p class="font2 text-primary margin-sm left-text">Left Aligned Text</p>
                    <p class="font2 text-secondary margin-sm center-text">Centered Text</p>
                    <p class="font2 text-primary margin-sm right-text">Right Aligned Text</p>
            </div>
            <div class="iframe-wrapper">
                <iframe
  src="https://carbon.now.sh/embed?bg=rgba%28155%2C155%2C155%2C1%29&t=night-owl&wt=sharp&l=auto&width=680&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=0px&ph=0px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%2520%2520%253Cp%2520class%253D%2522font2%2520text-primary%2520left-text%2522%253Eprimary%2520Text%253C%252Fp%253E%250A%2520%2520%253Cp%2520class%253D%2522font2%2520text-secondary%2520center-text%2522%253Esecondary%2520Text%253C%252Fp%253E%250A%2520%2520%253Cp%2520class%253D%2522font2%2520text-primary%2520right-text%2522%253Evibrant%2520Text%253C%252Fp%253E"
  sandbox="allow-scripts allow-same-origin">
</iframe>
            </div>
        </div>
         
       
    </div>
    </main>
    
    <footer class="centered vertical-direction bg-secondary">
        <button class="prev-page-btn btn-transparent btn rm-border font2 float"><a class="decor-none text-primary" href="input.html"><i class="fa fa-arrow-left "></i> Input </a></button>
        <button class="next-page-btn btn-transparent btn rm-border font2 float"><a class="decor-none text-primary" href="list.html">List <i class="fa fa-arrow-right "></i> </a></button>
       

        <h2 class=" mb-lg ">Build with <span class="text-primary">&lt;/&gt;</span> by Kajal Kumari</h2>
        <ul class="style-list-none mb-lg ">
            <li class="inline-block padding-xs"><a class="light-text" href="httlps://github.com/developers-codz">
                <i class='fab fa-github fa-lg'></i>
            </a>
               </li>
            <li class="inline-block padding-xs"><a class="light-text" href="https://www.linkedin.com/in/kajal-kumari-52bab41aa"><i class='fab fa-linkedin fa-lg'></i></a></li>
            <li class="inline-block padding-xs"><a class="light-text" href="https://twitter.com/Kajal3310"><i class='fab fa-twitter fa-lg'></i></a></li>
        </ul>
        <small>© 2022 beadsUI <a class="decor-none light-text" href="https://github.com/developers-codz">Developers-codz</a> </small>
        
    </footer>
    <script src="./input.js"></script>
    <script src="../../css/component.js"></script>
</body>
</html>