.cont {
	text-align: center;
  background-color: var(--secondary-cl);
}

.top {
  min-height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  width: 100%;
  max-width: 500px;
  object-fit: cover;
}

.bottom {
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  font-family: "Cinzel", serif;
  font-size: x-large;
  font-weight: 600;
  color: var(--logo-cl);
  border-left: 4px solid var(--logo-cl);
  border-right: 4px solid var(--logo-cl);
  border-radius: 0.25em;
  padding: 0.25em 2em;
}

.pen {
  margin-top: 2em;
  width: 3rem;
  height: 3rem;
  color: var(--logo-cl);
}

.title {
  max-width: 350px;
  margin: 2em 0;
	font-size: large;
  font-weight: 600;
	color: gray;
  padding: 0 1em;
}

.link {
  background-color: var(--logo-cl);
	color: var(--primary-cl);
	padding: 0.5em 3em;
	font-size: 1rem;
  font-weight: 600;
	border-radius: 0.2em;
  margin-bottom: 2em;
}

@media screen and (min-width: 768px) {
  .cont {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .top {
    flex: 1;
    order: 2;
  }

  .image {
    max-width: 100%;
  }

  .bottom {
    flex: 1;
    order: 1;
    justify-content: center;
    align-items: center;
  }

  .logo {
    padding: 0.25em 3em;
  }

  .pen {
    width: 3.5rem;
    height: 3.5rem;
  }

  .link {
    padding: 0.6em 3.5em;
    margin-bottom: 0;
  }
}
